[submodule "gps"]
	path = algorithms/gps
	url = https://github.com/erlerobot/gps
	branch = gps_ur3
[submodule "algorithms/gps"]
	path = algorithms/gps
	url = http://github.com/erlerobot/gps
	branch = gps_ur3
[submodule "algorithms/baselines"]
	path = algorithms/baselines
	url = https://github.com/erlerobot/baselines.git
[submodule "environments/gym-gazebo"]
	path = environments/gym-gazebo
	url = https://github.com/erlerobot/gym-gazebo
	branch = master
[submodule "environments/docker/scara_e1"]
	path = environments/docker/scara_e1
	url = https://github.com/erlerobot/scara_e1
[submodule "Spearmint"]
	path = Spearmint
	url = /home/erle/ros_rl/optimization/Spearmint/
[submodule "hyperopt"]
	path = hyperopt
	url = /home/erle/ros_rl/optimization/hyperopt/
