[submodule "algorithms/baselines"]
    path = algorithms/baselines
    url = https://github.com/AcutronicRobotics/baselines.git
[submodule "environments/gym-gazebo2"]
    path = environments/gym-gazebo2
    url = https://github.com/AcutronicRobotics/gym-gazebo2.git
