<launch>
  <arg name="sim" default="true" />

  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg sim)" from="/follow_joint_trajectory" to="/scara_controller/follow_joint_trajectory"/>

  <!-- Launch moveit -->
  <include file="$(find scara_e1_moveit)/launch/move_group.launch">
  </include>
</launch>
