<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="mara_camera_side"  params="prefix">

      <link name="mara_work_area_link">
        <inertial>
          <origin rpy="0 0 0" xyz="8.625E-08 -4.6583E-06 0.03145"/>
          <mass value="7.033"/>
          <inertia ixx="0.1478344" ixy="-0.00001" ixz="0.0" iyy="0.14782335" iyz="0.0" izz="0.29471799"/>
        </inertial>
        <visual>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://mara_description/meshes/demo/AIR_WorkArea.stl" scale="0.001 0.001 0.001"/>
          </geometry>
          <material name="Gazebo/Wood">
            <color rgba="0. 0. 0. 1"/>
          </material>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://mara_description/meshes/demo/AIR_WorkArea.stl" scale="0.001 0.001 0.001"/>
          </geometry>
        </collision>
      </link>
      <gazebo reference="mara_work_area_link">
        <material>Gazebo/Wood</material>
        <selfCollide>False</selfCollide>
      </gazebo>

      <link name="mara_camera_support_link">
        <inertial>
          <origin rpy="0 0 0" xyz="8.625E-08 -4.6583E-06 0.03145"/>
          <mass value="7.033"/>
          <inertia ixx="0.1478344" ixy="-0.00001" ixz="0.0" iyy="0.14782335" iyz="0.0" izz="0.29471799"/>
        </inertial>
        <visual>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://mara_description/meshes/demo/side/side_camera_support.stl" scale="0.001 0.001 0.001"/>
          </geometry>
          <material name="Gazebo/Wood">
            <color rgba="0. 0. 0. 1"/>
          </material>
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://mara_description/meshes/demo/side/side_camera_support.stl" scale="0.001 0.001 0.001"/>
          </geometry>
        </collision>
      </link>
      <gazebo reference="mara_work_area_link">
        <material>Gazebo/Wood</material>
        <selfCollide>False</selfCollide>
      </gazebo>

      <link name="depthsensor">
        <inertial>
          <origin rpy="0 0 0" xyz="-0.12987 0 0.02947"/>
          <mass value="10.0" />
          <inertia ixx="1.38185" ixy="-0.00001" ixz="-0.05685" iyx="-0.00001" iyy="1.03177" iyz="0.0" izx="-0.05685" izy="0.00000" izz="2.27567"/>
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh scale="0.001 0.001 0.001" filename="package://scara_e1_description/meshes/camera/SCARA_DepthSensor_SIDE.stl" />
          </geometry>
          <material name="Gazebo/Grey">
            <color rgba="1. 1. 1. 1" />
          </material>
        </visual>
      </link>
      <gazebo reference="depthsensor">
        <material>Gazebo/Grey</material>
        <selfCollide>False</selfCollide>
      </gazebo>
      <link name="camera"></link>

      <joint name="base_to_work_area_joint" type="fixed">
        <origin rpy="0 0 0" xyz="-0.450 0 0.00625"/>
        <parent link="base_link"/>
        <child link="mara_work_area_link"/>
      </joint>

      <joint name="base_to_camera_support_joint" type="fixed">
        <origin rpy="0 0 0" xyz="-0.48 0.2659 0.161250"/>
        <parent link="base_link"/>
        <child link="mara_camera_support_link"/>
      </joint>

      <joint name="camera_adapter_to_camera" type="fixed">
        <origin rpy="0 ${1.57-((90-68)*3.1419/180)} -1.57" xyz="0.006 -0.05865 0.22620"/>
        <parent link="mara_camera_support_link"/>
        <child link="depthsensor"/>
      </joint>

      <joint name="camera_joint" type="fixed">
        <origin xyz="0.055 0.031375 0.01" rpy="0 0 0"/>
        <parent link="depthsensor"/>
        <child link="camera"/>
      </joint>

      <gazebo reference="camera">
        <sensor name="sensor_camera" type="depth">
            <camera>
               <visualize>true</visualize>
                <horizontal_fov>1.01</horizontal_fov>
                <image>
                    <width>320</width>
                    <height>240</height>
                    <format>R8G8B8</format>
                </image>
                <clip near="0.01" far="6.0" />
                <save enabled="false" path="/tmp" />
                <depth_camera output="points" />
            </camera>
            <plugin name="depthsensor" filename="libgazebo_ros_depth_camera.so">
                <alwaysOn>1</alwaysOn>
                <updateRate>10.0</updateRate>
                <visualize>true</visualize>
                <imageTopicName>/mara/rgb/image_raw</imageTopicName>
                <pointCloudTopicName>/mara/depth/points</pointCloudTopicName>
                <cameraInfoTopicName>/mara/rgb/camera_info</cameraInfoTopicName>
                <cameraName>/mara</cameraName>
                <depthImageTopicName>/mara/depth/image_raw</depthImageTopicName>
                <depthImageCameraInfoTopicName>/mara/depth/camera_info</depthImageCameraInfoTopicName>
                <frameName>/camera</frameName>
                <pointCloudCutoff>0.001</pointCloudCutoff>
                <distortionK1>0.00000001</distortionK1>
                <distortionK2>0.00000001</distortionK2>
                <distortionK3>0.00000001</distortionK3>
                <distortionT1>0.00000001</distortionT1>
                <distortionT2>0.00000001</distortionT2>
            </plugin>
            <always_on>true</always_on>
            <update_rate>10.0</update_rate>
          </sensor>
        </gazebo>

  </xacro:macro>

</robot>
