<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="mara" >

  <!-- common stuff -->
  <xacro:include filename="$(find mara_description)/urdf/common.gazebo.xacro" />

  <!-- mara -->
  <xacro:include filename="$(find mara_description)/urdf/mara_nogripper.urdf.xacro" />

  <xacro:include filename="$(find mara_description)/urdf/camera_top.urdf.xacro" />

  <xacro:include filename="$(find mara_description)/urdf/table.urdf.xacro" />

  <!-- arm -->
  <xacro:mara_robot prefix="" joint_limited="false"/>
  <xacro:mara_camera_top prefix="" />
  <xacro:table prefix="" />

  <link name="world" />

  <joint name="world_to_table_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.02"/>
    <parent link="world"/>
    <child link="table"/>
  </joint>

  <joint name="table_to_base_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.65"/>
    <parent link="table"/>
    <child link="base_link"/>
  </joint>

</robot>
